In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_column', None)

In [2]:
champs = pd.read_csv('../output_etl/champs.csv', index_col=0)
matches = pd.read_csv('../output_etl/matches.csv', index_col=0)
participants = pd.read_csv('../output_etl/participants.csv', index_col=0)
stats = pd.read_csv('../output_etl/stats.csv', index_col=0)
bans = pd.read_csv('../output_etl/teambans.csv', index_col=0)

In [3]:
# Analyzing champs.csv
print("champs.csv:")
print(champs.head())  # Display the first few rows of the dataframe
print(champs.describe())  # Generate descriptive statistics of the dataframe

champs.csv:
       name   id
0       Jax   24
1      Sona   37
2  Tristana   18
3     Varus  110
4     Fiora  114
               id
count  138.000000
mean   108.666667
std    111.363634
min      1.000000
25%     35.250000
50%     78.500000
75%    126.750000
max    516.000000

In [4]:
# Analyzing matches.csv
print("matches.csv:")
print(matches.head())
print(matches.describe())

matches.csv:
   id      gameid
0  10  3187427022
1  11  3187425281
2  12  3187269801
3  13  3187252065
4  14  3187201038
                  id        gameid
count  184069.000000  1.840690e+05
mean    95052.748632  3.094879e+09
std     53591.913586  3.188704e+08
min        10.000000  4.576003e+08
25%     48782.000000  3.164446e+09
50%     95068.000000  3.177685e+09
75%    141563.000000  3.186252e+09
max    187588.000000  3.197657e+09

In [5]:
# Analyzing participants.csv
print("participants.csv:")
print(participants.head())
print(participants.describe())

participants.csv:
   id  matchid  player  championid         role position
0   9       10       1          19         NONE   JUNGLE
1  10       10       2         267  DUO_SUPPORT      BOT
2  11       10       3         119    DUO_CARRY      BOT
3  12       10       4         114         SOLO      TOP
4  13       10       5         112         SOLO      MID
                 id       matchid        player    championid
count  1.834520e+06  1.834520e+06  1.834520e+06  1.834520e+06
mean   9.448514e+05  9.488531e+04  5.489930e+00  1.145127e+02
std    5.328720e+05  5.359679e+04  2.871098e+00  1.148613e+02
min    9.000000e+00  1.000000e+01  1.000000e+00  1.000000e+00
25%    4.848568e+05  4.862775e+04  3.000000e+00  4.000000e+01
50%    9.450905e+05  9.475950e+04  5.000000e+00  7.900000e+01
75%    1.406918e+06  1.413752e+05  8.000000e+00  1.270000e+02
max    1.865604e+06  1.875880e+05  1.000000e+01  4.980000e+02

In [6]:
# Analyzing stats.csv
print("stats.csv:")
print(stats.head())
print(stats.describe())

stats.csv:
   id  win  kills
0   9    0      6
1  10    0      0
2  11    0      7
3  12    0      5
4  13    0      2
                 id        win         kills
count  1.834517e+06  1834517.0  1.834517e+06
mean   9.448508e+05        0.5  5.788830e+00
std    5.328723e+05        0.5  4.603964e+00
min    9.000000e+00        0.0  0.000000e+00
25%    4.848560e+05        0.0  2.000000e+00
50%    9.450890e+05        0.0  5.000000e+00
75%    1.406919e+06        1.0  8.000000e+00
max    1.865604e+06        1.0  4.500000e+01

In [7]:

# Analyzing teambans.csv
print("teambans.csv:")
print(bans.head())
print(bans.describe())

teambans.csv:
   matchid  teamid  championid  banturn
0       10     100          11        1
1       10     100         117        3
2       10     100         120        5
3       10     200          84        2
4       10     200         201        4
            matchid        teamid    championid       banturn
count  1.099185e+06  1.099185e+06  1.099185e+06  1.099185e+06
mean   9.485770e+04  1.500004e+02  1.506013e+02  3.500155e+00
std    5.351859e+04  5.000002e+01  1.369928e+02  1.707955e+00
min    1.000000e+01  1.000000e+02  1.000000e+00  1.000000e+00
25%    4.866700e+04  1.000000e+02  6.300000e+01  2.000000e+00
50%    9.473500e+04  2.000000e+02  1.140000e+02  4.000000e+00
75%    1.413470e+05  2.000000e+02  1.570000e+02  5.000000e+00
max    1.875880e+05  2.000000e+02  4.980000e+02  1.000000e+01

In [8]:
# Crie um dicionário que mapeia championid para name
champ_id_to_name = champs.set_index('id')['name'].to_dict()

# Substitua os IDs dos campeões pelos nomes dos campeões no dataframe df_participants
participants['championid'] = participants['championid'].map(champ_id_to_name)
participants_win = participants.merge(stats, left_on='matchid', right_on='id', how='left')

participants_win

,id_x,matchid,player,championid,role,position,id_y,win,kills
0,9,10,1,Warwick,NONE,JUNGLE,10.0,0.0,0.0
1,10,10,2,Nami,DUO_SUPPORT,BOT,10.0,0.0,0.0
2,11,10,3,Draven,DUO_CARRY,BOT,10.0,0.0,0.0
3,12,10,4,Fiora,SOLO,TOP,10.0,0.0,0.0
4,13,10,5,Viktor,SOLO,MID,10.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
1834515,1865600,187588,6,Jinx,DUO_CARRY,BOT,187588.0,0.0,2.0
1834516,1865601,187588,7,Annie,SOLO,MID,187588.0,0.0,2.0
1834517,1865602,187588,8,Blitzcrank,DUO_SUPPORT,BOT,187588.0,0.0,2.0
1834518,1865603,187588,9,Riven,NONE,JUNGLE,187588.0,0.0,2.0
1834519,1865604,187588,10,Olaf,SOLO,TOP,187588.0,0.0,2.0